week4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="BOOKS">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Book">
        <xs:complexType>
        <xs:sequence>
        <xs:element name="title" type="xs:string"></xs:element>
        <xs:element name="author" type="xs:string"></xs:element>
        <xs:element name="isbn" type="xs:string"></xs:element>
        </xs:sequence>
        </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
